@(form: Form[(String, String)])(implicit flash: Flash)

@main("Login") {
  <h1 class="title">Login</h1>
  <a href="/signup" class="btn btn-link btn-nav pull-right" data-transition="slide-in">
    Signup
  </a>
}{
  @helper.form(routes.Authentication.authenticate, 'class -> "input-group") {
    @form.globalError.map { error =>
      <h3 class="error">@error.message</h3>
    }
    @flash.get("success").map { message =>
      <h3 class="success">@message</h3>
    }
    <div class="input-row">
      <label>Email</label>
      <input type="email" name="email" placeholder="user@@example.com" id="email" value="@form("email").value" />
    </div>
    <div class="input-row">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" id="password" />
    </div>
    <button class="btn btn-block btn-primary" type="submit" id="login-button">Login</button>
    <h5><a class="pull-right" data-transition="slide-in" href="/reset">Forgot your password?</a></h5>
  }
}
