@(title: String)(header: Html)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-stype" content="black">
    <link href="@routes.Assets.at("css/ratchet.css")" rel="stylesheet">
  </head>
  <body>
    <header class="bar bar-nav">
      @header
    </header>
    <div class="content">
      <div class="content-padded">
        @content
      </div>
    </div>
    <script src="@routes.Assets.at("js/ratchet.js")"></script>
  </body>
</html>
