@(form: Form[(String)])(implicit flash: Flash)
<html>
  <head>
    <title>Reset password</title>
  </head>
  <body>
    @flash.get("error").map { message =>
      <p class="error">@message</p>
    }
    @helper.form(routes.Authentication.sendResetEmail) {
      <h1>Reset password</h1>
      @form.globalError.map { error =>
        <p class="error">@error.message</p>
      }
      @flash.get("success").map { message =>
	<p class="success">@message</p>
      }
      <p>
        <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" />
      </p>
      <p>
        <button type="submit" id="send-email-button">Send email</button>
      </p>
    }
  </body>
</html>
